{% extends "base.html" %}

{% block title %}{% if current_song is none %}Waiting for admin{% else %}{{
current_song.author }} - {{ current_song.title }}{% endif %}{% endblock %}

{% block page %}
  {% if current_song is none %}
    <h1>Waiting for admin</h1>
  {% else %}
    <h1>{{ current_song.author }} - {{ current_song.title }}</h1>
    <pre>{{ current_song.text }}</pre>
  {% endif %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js">
  </script>
  <script>
    (function(){
        socket = io()
    })()
  </script>
{% endblock %}
