{% extends "base.html" %}

{% block title %}{% if current_song is none %}Waiting for admin{% else %}{{
current_song.author }} - {{ current_song.title }}{% endif %}{% endblock %}

{% block page %}

  <h1 id="song__title" class="title">
    {% if current_song is none %}
      Waiting for admin
    {% else %}
      {{ current_song.author }} - {{ current_song.title }}
    {% endif %}
  </h1>
  <pre id="song__text" class="song__text">{{ current_song.text }}</pre>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js">
  </script>
  <script>
    (function(){
        socket = io()
        socket.on('change_song', function(msg) {
            var title = msg.author + ' - ' + msg.title
            document.getElementById('head__title').textContent = title
            document.getElementById('song__title').textContent = title
            document.getElementById('song__text').textContent = msg.text
        })
    })()
  </script>
{% endblock %}
